.carousel-item {
    height: 400px;
    /* width: 600px; */
}
.carousel-caption  h5{
    color:rgb(252, 252, 252);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     */
}
.container 
{
    text-align: center;
}
.back{
    background-image: url("https://images.unsplash.com/photo-1608409251757-56db452939dc?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjI0Njk4NDA5&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_sourcehttps://images.unsplash.com/photo-1608409251757-56db452939dc?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjI0Njk4NDA5&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utmhttps://images.unsplash.com/photo-1608409251757-56db452939dc?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=100&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjI0Njk4NDA5&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=200_source=unsplash_source&w=1200=unsplash_source&w=1600");
background-position: 50%;
/* color: black; */
    /* background-position: 1200px; */
}
.backi {
   color: rgb(255, 255, 255);
    /* background-position: 50%; */
   background-image: url("jk.jpg");
background-position: 700%;
}

.btn.btn-outline-secondary {
    color: #ffffff;
    border-color: #f4faff;
}
.btn.btn-outline-secondary:hover{
color: #000000;
background-color: #ffffff;
}